
body{
  font-size: 0.9em;
  font-family: 'Poppins' !important;
}

.text-judul{
  color: #1DD3B0;
}

.icon-holder{
  font-size: 2em;
}

.icon-holder i{
  color: #1DD3B0;
}

.detail-info{
    margin-left: 15px;
    font-weight: 300;
}

.detail-info.detail-email{
  font-size: 0.5em;
}

nav{
  background-color: #14213D;
}

.navbar-nav.navbar-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-dark .navbar-brand {
  color: #1DD3B0 !important;
  margin-left: 45px;
}

.navbar-dark .navbar-nav .nav-link{
  color: #FFF !important;
  margin: 0px 15px 0px 15px;
  font-size: 0.9em;
}

.navbar-dark .navbar-nav .nav-link.active{
  color: #1DD3B0 !important;
}

.navbar-dark .navbar-nav .nav-link:hover{
  color: #1DD3B0 !important;
}

.jumbotron{
    /* margin:15px 30px 0px 30px; */
    /* border-radius:10px; */
      background: 
  linear-gradient(
    rgba(9, 9, 121, 0.445), 
    rgba(125, 250, 250, 0.45)
  ),
  url(https://source.unsplash.com/F6f0RFPRQc0/1600x1050);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color:white !important;
  }

  .jumbotron.curved{
    position: absolute;
    bottom: 0;
  }

  .curved-section{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(9, 9, 121, 0.445), 
    rgba(125, 250, 250, 0.45)), url(https://source.unsplash.com/F6f0RFPRQc0/1600x1050);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(200vh at 50% -100vh);
  }

  .curved-section .content{
    max-width: 1000px;
    text-align: center;
  }

  .curved-section .content h3{
    color: #FFF;
    font-weight: 700;
  }

  .sejarah .sejarah-judul{
    color: #1DD3B0;
  }

  .sejarah .sejarah-detail{
    font-weight: 300;
    font-size: 1em;
  }

  
  .company-container{
    background-color: #FFF;
    margin-top: 15px;
  }

  .timeline-container{
    padding: 15px 0px 15px 0px;
   
  }
  
  .btn-outline-danger{
    color:white;
    border-color:white;
    border-radius:0px;
    font-weight:100;
    margin-top:20px;
  }

  .lead{
    font-weight:100;
    margin-top:-10px;
  }

  .card .card-body{
      font-size: 0.9em;
  }

  p .lead {
    font-size: 0.9em;
  }

  h6{
      font-size: 00.9em;
      font-weight: bold;
  }

  footer{
      min-height: 175px;
  }
